header{
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    z-index: 5;
}

#head_overlay{
    clip-path: circle(var(--clip-size) at 1858px 30px) ;
    transition: .5s ease-out;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    box-sizing: border-box;
}

.navbar_inner{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    gap: 24px;
}

.navbar_inner li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #f4f4f4;
}

#deviding{
    width: 2px;
    height: 8px;
    border-radius: 2.5px;
    background-color: #f4f4f4;
}

.logo{
    width: 52px;
    height: 24px;
    background: url(../assets/images/FLCK.svg) center no-repeat;
}

.logo_overlay{
    width: 52px;
    height: 24px;
    background: url(../assets/images/FLCK_lm.svg) center no-repeat;
}

#github{
    display: block;
    width: 43px;
    height: 43px;
    background: url(../assets/Icons/github.svg) center no-repeat;
}

#github_overlay{
    display: block;
    width: 43px;
    height: 43px;
    background: url(../assets/Icons/github_lm.svg) center no-repeat;
}

#mode_switch{
    border: none;
    width: 43px;
    height: 43px;
    background: url(../assets/Icons/mode_switch.svg) center no-repeat;
}

#mode_switch_overlay{
    border: none;
    width: 43px;
    height: 43px;
    background: url(../assets/Icons/mode_switch_lm.svg) center no-repeat;
}