.project_all{
    display: flex;
    justify-content: center;
    gap: 72px;
    margin-top: 165px;
}

.project_all:first-child{
    margin-top: 240px;
}

.project_info{
    width: 350px;
}

.project_container{
    width: 966px;
    height: 671px;
    border-radius: 15px;
    box-shadow:
     inset -5px -5px 5px rgba(92, 92, 92, 0.2),
     inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.project_header{
    font-size: 24px;
    font-weight: 650;
}

.project_desc{
    font-size: 16px;
    font-weight: 500;
    color: #878787;
}

.used_recoures{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.project_container{
    display: grid;
    place-items: center;
}